{% extends "base.html" %}
{% block content %}
<h2>Transaction Status</h2>

<p>Auction: {{ escrow.auction.title }}</p>
<p>Status: {{ escrow.get_status_display }}</p>

{% if user == escrow.seller and escrow.status == "PAID" %}
  <a href="{% url 'mark_shipped' escrow.id %}">Mark as Shipped</a>
{% endif %}

{% if user == escrow.buyer and escrow.status == "SHIPPED" %}
  <a href="{% url 'mark_delivered' escrow.id %}">Confirm Delivery</a>
{% endif %}

{% if user == escrow.buyer and escrow.status == "PAID" %}
  <a href="{% url 'add_shipping' escrow.id %}">
    Add / Update Shipping Address
  </a>
{% endif %}

{% if escrow.shipping %}
  <h3>Shipping Address</h3>
  <p>{{ escrow.shipping.full_name }}</p>
  <p>{{ escrow.shipping.address_line1 }}, {{ escrow.shipping.city }}</p>
  <p>{{ escrow.shipping.state }} - {{ escrow.shipping.postal_code }}</p>
{% endif %}

{% if escrow.status == "DELIVERED" %}
  <p>Awaiting completion…</p>
{% endif %}
{% if escrow.status == "COMPLETED" %}
  {% if user == escrow.buyer %}
    <a href="{% url 'leave_rating' escrow.id %}">
      Rate Seller
    </a>
  {% elif user == escrow.seller %}
    <a href="{% url 'leave_rating' escrow.id %}">
      Rate Buyer
    </a>
  {% endif %}
{% endif %}
{% endblock %}
