{% extends "base.html" %}
{% block content %}
<h2>Invoice</h2>

<p>Auction: {{ invoice.auction.title }}</p>
<p>Winning Price: ₹{{ invoice.amount }}</p>
<p>Buyer Fee (3%): ₹{{ invoice.buyer_fee }}</p>
<p>Transport: ₹{{ invoice.transport_charge }}</p>

<h3>Total: ₹{{ invoice.total_payable }}</h3>

<hr>
<p><strong>Commission Details</strong></p>
<p>Seller Commission (10%): ₹{{ invoice.seller_fee }}</p>
<p>Buyer Commission (3%): ₹{{ invoice.buyer_fee }}</p>
<p>{{ invoice.transport_charge }} Transport charges paid by Buyer to Seller</p><hr>

{% if invoice.status == "PENDING" %}
  <a href="{% url 'pay_invoice' invoice.id %}">Pay Now</a>
{% else %}
  <p>Status: {{ invoice.status }}</p>
{% endif %}
{% endblock %}
